body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure{margin:0;padding:0}h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,.highlight{margin-bottom:15px}main{display:block}img{max-width:100%;vertical-align:middle}figure>img{display:block}figcaption{font-size:14px}ul,ol{margin-left:30px}li>ul,li>ol{margin-bottom:0}h1,h2,h3,h4,h5,h6{font-weight:400}a{color:#2a7ae2;text-decoration:none}a:visited{color:#1756a9}a:hover{color:#111;text-decoration:underline}.social-media-list a:hover{text-decoration:none}.social-media-list a:hover .username{text-decoration:underline}blockquote{color:#828282;border-left:4px solid #e8e8e8;padding-left:15px;font-size:18px;letter-spacing:-1px;font-style:italic}blockquote>:last-child{margin-bottom:0}pre,code{font-size:15px;border:1px solid #e8e8e8;border-radius:3px;background-color:#eef}code{padding:1px 5px}pre{padding:8px 12px;overflow-x:auto}pre>code{border:0;padding-right:0;padding-left:0}.wrapper{max-width:-webkit-calc(800px - (30px * 2));max-width:calc(800px - (30px * 2));margin-right:auto;margin-left:auto;padding-right:30px;padding-left:30px}@media screen and (max-width: 800px){.wrapper{max-width:-webkit-calc(800px - (30px));max-width:calc(800px - (30px));padding-right:15px;padding-left:15px}}.wrapper:after,.footer-col-wrapper:after{content:"";display:table;clear:both}.svg-icon{width:21px;height:16px;display:inline-block;fill:#828282;padding-right:5px;vertical-align:text-top}.social-media-list li+li{padding-top:5px}table{margin-bottom:30px;width:100%;text-align:left;color:#3f3f3f;border-collapse:collapse;border:1px solid #e8e8e8}table tr:nth-child(even){background-color:#f7f7f7}table th,table td{padding:10px 15px}table th{background-color:#f0f0f0;border:1px solid #dedede;border-bottom-color:#c9c9c9}table td{border:1px solid #e8e8e8}.site-header{border-top:5px solid #424242;border-bottom:1px solid #e8e8e8;min-height:55.95px;position:relative}.site-title{font-size:26px;font-weight:300;line-height:54px;letter-spacing:-1px;margin-bottom:0;float:left}.site-title,.site-title:visited{color:#424242}.site-nav{float:right;line-height:54px}.site-nav .nav-trigger{display:none}.site-nav .menu-icon{display:none}.site-nav .page-link{color:#111;line-height:1.5}.site-nav .page-link:not(:last-child){margin-right:20px}@media screen and (max-width: 600px){.site-nav{position:absolute;top:9px;right:15px;background-color:#fdfdfd;border:1px solid #e8e8e8;border-radius:5px;text-align:right}.site-nav label[for="nav-trigger"]{display:block;float:right;width:36px;height:36px;z-index:2;cursor:pointer}.site-nav .menu-icon{display:block;float:right;width:36px;height:26px;line-height:0;padding-top:10px;text-align:center}.site-nav .menu-icon>svg{fill:#424242}.site-nav input ~ .trigger{clear:both;display:none}.site-nav input:checked ~ .trigger{display:block;padding-bottom:5px}.site-nav .page-link{display:block;padding:5px 10px;margin-left:20px}.site-nav .page-link:not(:last-child){margin-right:0}}.site-footer{border-top:1px solid #e8e8e8;padding:30px 0}.footer-heading{font-size:18px;margin-bottom:15px}.contact-list,.social-media-list{list-style:none;margin-left:0}.footer-col-wrapper{font-size:15px;color:#828282;margin-left:-15px}.footer-col{float:left;margin-bottom:15px;padding-left:15px}.footer-col-1{width:-webkit-calc(50% - (30px / 2));width:calc(50% - (30px / 2))}.footer-col-2{width:-webkit-calc(50% - (30px / 2));width:calc(50% - (30px / 2))}.footer-col-3{width:-webkit-calc(45% - (30px / 2));width:calc(45% - (30px / 2))}@media screen and (max-width: 800px){.footer-col-1,.footer-col-2{width:-webkit-calc(50% - (30px / 2));width:calc(50% - (30px / 2))}.footer-col-3{width:-webkit-calc(100% - (30px / 2));width:calc(100% - (30px / 2))}}@media screen and (max-width: 600px){.footer-col{float:none;width:-webkit-calc(100% - (30px / 2));width:calc(100% - (30px / 2))}}.page-content{padding:30px 0;flex:1}.page-heading{font-size:32px}.post-list-heading{font-size:28px}.post-list{margin-left:0;list-style:none}.post-list>li{margin-bottom:30px}.post-meta{font-size:14px;color:#828282}.post-link{display:block;font-size:24px}.post-header{margin-bottom:30px}.post-title{font-size:42px;letter-spacing:-1px;line-height:1}@media screen and (max-width: 800px){.post-title{font-size:36px}}.post-content{margin-bottom:30px}.post-content h2{font-size:32px}@media screen and (max-width: 800px){.post-content h2{font-size:28px}}.post-content h3{font-size:26px}@media screen and (max-width: 800px){.post-content h3{font-size:22px}}.post-content h4{font-size:20px}@media screen and (max-width: 800px){.post-content h4{font-size:18px}}.highlight{background:#fff}.highlighter-rouge .highlight{background:#eef}.highlight .c{color:#998;font-style:italic}.highlight .err{color:#a61717;background-color:#e3d2d2}.highlight .k{font-weight:bold}.highlight .o{font-weight:bold}.highlight .cm{color:#998;font-style:italic}.highlight .cp{color:#999;font-weight:bold}.highlight .c1{color:#998;font-style:italic}.highlight .cs{color:#999;font-weight:bold;font-style:italic}.highlight .gd{color:#000;background-color:#fdd}.highlight .gd .x{color:#000;background-color:#faa}.highlight .ge{font-style:italic}.highlight .gr{color:#a00}.highlight .gh{color:#999}.highlight .gi{color:#000;background-color:#dfd}.highlight .gi .x{color:#000;background-color:#afa}.highlight .go{color:#888}.highlight .gp{color:#555}.highlight .gs{font-weight:bold}.highlight .gu{color:#aaa}.highlight .gt{color:#a00}.highlight .kc{font-weight:bold}.highlight .kd{font-weight:bold}.highlight .kp{font-weight:bold}.highlight .kr{font-weight:bold}.highlight .kt{color:#458;font-weight:bold}.highlight .m{color:#099}.highlight .s{color:#d14}.highlight .na{color:teal}.highlight .nb{color:#0086B3}.highlight .nc{color:#458;font-weight:bold}.highlight .no{color:teal}.highlight .ni{color:purple}.highlight .ne{color:#900;font-weight:bold}.highlight .nf{color:#900;font-weight:bold}.highlight .nn{color:#555}.highlight .nt{color:navy}.highlight .nv{color:teal}.highlight .ow{font-weight:bold}.highlight .w{color:#bbb}.highlight .mf{color:#099}.highlight .mh{color:#099}.highlight .mi{color:#099}.highlight .mo{color:#099}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:#d14}.highlight .s2{color:#d14}.highlight .se{color:#d14}.highlight .sh{color:#d14}.highlight .si{color:#d14}.highlight .sx{color:#d14}.highlight .sr{color:#009926}.highlight .s1{color:#d14}.highlight .ss{color:#990073}.highlight .bp{color:#999}.highlight .vc{color:teal}.highlight .vg{color:teal}.highlight .vi{color:teal}.highlight .il{color:#099}

body{
  /*font:400 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
  /*font-family: "Exo";*/
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  color:#111;
  background-color:#fdfdfd;
  -webkit-text-size-adjust:100%;
  -webkit-font-feature-settings:"kern" 1;
  -moz-font-feature-settings:"kern" 1;
  -o-font-feature-settings:"kern" 1;
  font-feature-settings:"kern" 1;
  font-kerning:normal;
  display:flex;
  min-height:150vh;
  flex-direction:column;
  background-color: #FFEEEE;
}

/* Trens pra deixar legal a página do livro */
* {
  box-sizing: border-box;
}

.columncapa {
  float: left;
  width: 25%;
  padding: 10px;
  vertical-align: middle;
}
.column {
  float: left;
  width: 75%;
  padding: 10px;
  vertical-align: middle;
}

@media only screen and (max-width: 740px)
{
  .columncapa
  {
    float: none;
    width: 100%;
    text-align: center;
  }
  .column
  {
    width: 100%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row img {
  border-radius: 5px;
}

/* Botão estilizado no livro */

.button {
  background-color: #61F2C2; /* Aquamarine */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-family: "Poppins";
  display: inline-block;
  font-size: 16px;
  border-radius: 5px
}
.button:hover, .button:focus {
  background-color: #8EFFC9;
  color: white;
}

/* Trem de quote legal */

.quote {
  background-color: #3A917D;
  color: white;
  margin: 20px;
  padding: 20px;
  text-shadow: 0px 0px 1px #555, 0px 0px 2px #555, 0px 0px 3px #555;
  border-radius: 25px
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}

/* Trem de mostrar livros */

.columncapatwo {
  float: left;
  width: 30%;
  padding: 10px 0px;
  vertical-align: middle;
  display: flex;
  align-items: center
}
.columntwo {
  float: left;
  width: 70%;
  padding: 10px;
}

@media only screen and (max-width: 740px)
{
  .columncapatwo
  {
    float: none;
    width: 100%;
    text-align: center;
  }
  .columntwo
  {
    width: 100%;
  }
}

.bookpreview {
  color: black;
  background-color: white;
  margin: 2% auto;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #EFEFEF;
  width: 80%;
  min-width: 300px;
  box-shadow: 0px 5px 10px #CCCCCC;
}

.buttonbottom {
  position: absolute;
  bottom: 0px
}

/* Efeito Parallax na Homepage*/

.parallax
{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14.0625% 0;
}
.parallax img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}
.parallax h1
{
    position: relative;
    color: aquamarine;
    font-size: 6vw;
    z-index: 1;
    text-shadow: 0px 0px 1px #000, 0px 0px 2px #000, 0px 0px 3px #000, 0px 0px 4px #000, 0px 0px 5px #000;
}

/* Sombra no título da escola literária */
.escTitulo
{
    text-shadow: 0px 0px 1px #000, 0px 0px 2px #000, 0px 0px 3px #000, 0px 0px 4px #000, 0px 0px 5px #000;
}

/* Mega Linha do Tempo HTML */
:root
{
    --openedPos: 96px;
}
@keyframes slideLeft
{
    from {left:50%;}
    to {left:96px;}
}
@keyframes slideRight
{
    from {left:96px;}
    to {left:50%;}
}
@keyframes hide
{
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes appear
{
    from {opacity: 0;}
    to {opacity: 1;}
}
body
{
    font-family: "Poppins";
    background-color: #FFEEEE;
}

.line
{
    position: relative;
    left:50%;
    margin-left: -8px;
    /*text-align: center;*/
    border-left: 16px solid white;
}

.dot
{
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 900;
    vertical-align: middle;
    font-size: 32px;
    line-height: 128px;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-left: -74px;
    margin-right: 32px;
    background-color:  #F261C2;
    border: 3px solid #813061;
    display: inline-block;
    text-shadow: #222222 0px 0px 4px;
    box-shadow: #00000044 0px 4px 8px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.infobox
{
    background-color: #fff;
    text-align: left;
    position: absolute;
    color: black;
    padding: 16px;
    width: calc(100% - 256px);
    min-height: 196px;
    border-radius: 25px;
    border: 3px solid #EEE;
    box-shadow: #00000022 0px 4px 8px;
    opacity: 0;
}

@media only screen and (max-width: 512px)
{
    :root
    {
        --openedPos: 18.75vw;
    }

    @keyframes slideLeft
    {
        from {left:50%;}
        to {left:18.75vw;}
    }
    @keyframes slideRight
    {
        from {left:18.75vw;}
        to {left:50%;}
    }

    .infobox 
    {
        width: calc(100% - 50vw);
        min-height: 38.28125vw;
        font-size: calc(calc(100vw / 512) * 16);
        border-radius: 4.8828125vw;
        border: 0.5859375vw solid #EEE;
        padding: 3.125vw;
    }

    .dot
    {
        width: 25vw;
        height: 25vw;
        line-height: 25vw;
        margin-left: calc(-12.5vw - 1.953125vw);
        margin-right: 6.25vw;
        font-size: calc(calc(100vw / 512) * 32);
        margin-top: 12.5vw;
        margin-bottom: 12.5vw;
        border: 0.5859375vw solid #813061;
    }

    .line
    {
        margin-left: -1.5625vw;
        border-left: 3.125vw solid white;
    }
}

/* Super navbar chique das obras */

:root
{
    --scalefac: 1;
}

.navbar
{
    width: 600px;
    height: 72px;
    background-color: #113520;
    border-radius: 4px 4px 0px 4px;
    left:calc(50% - 300px);
    position: relative;
}

@media only screen and (max-width: 640px)
{
  .navbar
  {
    transform: scale(var(--scalefac));
  }
}

.navbar input
{
    position: absolute;
    box-shadow:#00000044 0px 0px 6px inset;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins';
    margin-top: 8px;
    margin-left: 8px;
    height: 24px;
}

.navbar .nameobra
{
    width: calc(100% - 16px);
}

.navbar .nameautora
{
    width: calc(40% - 24px);
    margin-top: 40px;
}

.navbar select
{
    position: absolute;
    height: 24px;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins';
    margin-top: 40px;
    margin-left: 8px;
    box-shadow:#00000044 0px 0px 6px inset;
}


.navbar .pagenum
{
    margin-left: calc(calc(40% - 24px) + 16px);
    width: calc(30% - 24px);
}

.navbar .obracat
{
    margin-left: calc(calc(70% - 48px) + 24px);
    width: calc(35% - 16px);
}

/* Paginação 2.0 */
.pagination
{
    position: relative;
    text-align: center;
    width: 100%;
}
.paginationbutton
{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin-right: 4px;
    line-height: 32px;
    text-align: center;
    background-color: #61f1c2;
    border: 2px solid #00000000;
    color: black;
}

.paginationbutton:hover
{
    background-color: aliceblue;
    border: 2px solid #61f1c2;
    color: #61f1c2;
    /*margin: 0;*/
}

.paginationbutton:active
{
    background-color: #d6d6d6;
}