<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="row">
          {% if pagina.fotoautora != "" %}<div class="columncapa"> <img src={{ page.fotoautora }}> </div>{% endif %}
          <div class="column">
            <h1 style="font-weight:900">{{ page.nomeautora | default: "Nome da Autora" }}</h1>
            <h3 style="color:#505050"><i><b>{{ page.anonascimento | default: "????" }}</b></i></h3>
            {{ content }}
          </div>
        </div>
        <div class="quote" style="font-weight:400">
          <i>
          <br>
          <div class="center">{{ page.biografia | default: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mollis leo ac gravida pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam at urna vulputate, auctor ipsum id, vehicula augue. Phasellus ullamcorper molestie molestie. Fusce id maximus risus. Ut ornare nisi vitae posuere vehicula. Praesent pulvinar, felis at lobortis semper, est risus auctor enim, quis ullamcorper lacus urna sed sem. Praesent rhoncus quam ullamcorper ipsum varius, et finibus augue iaculis. Phasellus ut diam sed nulla vestibulum efficitur eget sodales nibh." }}</div>
          <br>
          <div style="font-size: 50%" class="right">
            <tag style="font-weight:750">Fontes:</tag>{{ page.fontes }}
          </div>
          </i>
        </div>
        <button class="button" onclick='window.open("{{ site.url }}obras/?nomeautora={{ page.nomeautora }}", "_blank")'><b>Veja suas obras!</b></button><br><br>
        <a href="https://api.whatsapp.com/send?text=Olha%20que%20autora%20maravilhosa%20que%20eu%20encontrei%3A%20{{ page.nomeautora | uri_escape }}%21%20%0Ahttps%3A%2F%2Felas-na-literatura.github.io%2Fobras%2F%3Fnomeautora%3D{{ page.nomeautora | uri_escape | uri_escape }}" target="_blank"><img src="https://elas-na-literatura.github.io/rsc/whatsapp.svg" alt="WhatsApp"  style="margin-top:-12px;"></a>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Olha que autora maravilhosa que eu encontrei: {{ page.nomeautora }}! " data-url="https://elas-na-literatura.github.io/obras/?nomeautora={{ page.nomeautora | uri_escape }}" data-hashtags="ElasNaLiteratura" data-lang="pt" data-show-count="false"><img src="https://elas-na-literatura.github.io/rsc/twitter.svg" alt="Twitter"  style="margin-top:-12px;"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Felas-na-literatura.github.io%2Fobras%2F%3Fnomeautora%3D{{ page.nomeautora | uri_escape }}&layout=button&size=small&width=110&height=20&appId" width="110" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </main>

    {%- include footer.html -%}

  </body>
