<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt" }}">

  {%- include head.html -%}

  <body onload="{{ page.onLoadFunction }}">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <section class="parallax">
        <img src="rsc/prlx/bgr.png" id=bgr>
        <img src="rsc/prlx/book.png" id=book>
        <h1 id=title>{{ banner }}</h1>
      </section>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
