<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="row">
          <div class="columncapa"> <img src={{ page.imagemcapa | default: "https://images-na.ssl-images-amazon.com/images/I/31aX81I6vnL._SX351_BO1,204,203,200_.jpg" }}> </div>
          <div class="column">
            <h1 style="font-weight:900">{{ page.nomelivro | default: "Nome da Obra" }}</h1>
            <h3 style="color:#505050"><i><b>{{ page.nomeautora | default: "Autora Da Silva" }}</b> - {{ page.anolancamento | default: "1889" }}</i></h3>
            <p> Sinopse: {{ page.sinopse | default: "Lorem ipsum dolor sit amet."}} </p>
            <button class="button" onclick='window.open("{{ page.link | default: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' }}", "_blank")'>Acesse via {{ page.fontelivro | default: "YouTube" }}!</button>
            {{ content }}
          </div>
        </div>
        <div class="quote" style="font-weight:400">
          <i>
          <tag style="font-size: 200%">&#x201c</tag><br>
          <div class="center">{{ page.quote | default: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mollis leo ac gravida pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam at urna vulputate, auctor ipsum id, vehicula augue. Phasellus ullamcorper molestie molestie. Fusce id maximus risus. Ut ornare nisi vitae posuere vehicula. Praesent pulvinar, felis at lobortis semper, est risus auctor enim, quis ullamcorper lacus urna sed sem. Praesent rhoncus quam ullamcorper ipsum varius, et finibus augue iaculis. Phasellus ut diam sed nulla vestibulum efficitur eget sodales nibh." }}</div>
          <br>
          <div style="font-size: 200%" class="right">
             &#x201d <br>
            <p style="font-size: 50%"><tag style="font-weight:750">{{ page.nomelivro | default: "Nome da Obra" }}</tag>, página {{ page.quotepagina | default: "0" }}.</p>
          </div>
          </i>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>
