<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <h1>{{ page.nomelivro | default: "Nome da Obra" }}</h1>
      <h2>{{ page.nomeautora | default: "Autora Da Silva" }} - {{ page.anolancamento | default: "1889" }}</h2>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
