<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1 style="font-weight:900">{{ page.nomelivro | default: "Nome da Obra" }}</h1>
        <h3 style="color:#505050"><i><b>{{ page.nomeautora | default: "Autora Da Silva" }}</b> - {{ page.anolancamento | default: "Sem Ano" }}</i></h3>
        <button class="button" onclick='window.open("{{ page.link | default: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' }}", "_blank")'><b>Acesse via {{ page.fontelivro | default: "YouTube" }}!</b></button>
        {{ content }}
        <div class="quote" style="font-weight:400">
          <i>
          <tag style="font-size: 200%">&#x201c</tag><br>
          <div class="center">{{ page.quote | default: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mollis leo ac gravida pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam at urna vulputate, auctor ipsum id, vehicula augue. Phasellus ullamcorper molestie molestie. Fusce id maximus risus. Ut ornare nisi vitae posuere vehicula. Praesent pulvinar, felis at lobortis semper, est risus auctor enim, quis ullamcorper lacus urna sed sem. Praesent rhoncus quam ullamcorper ipsum varius, et finibus augue iaculis. Phasellus ut diam sed nulla vestibulum efficitur eget sodales nibh." }}</div>
          <br>
          <div style="font-size: 200%" class="right">
             &#x201d <br>
            <p style="font-size: 50%"><tag style="font-weight:750">{{ page.nomelivro | default: "Nome da Obra" }}</tag>, {{ page.nomeautora }}.</p>
          </div>
          </i>
        </div>
        <a href="https://api.whatsapp.com/send?text=Olha%20essa%20poesia%20maravilhosa%20da%20{{ page.nomeautora | uri_escape }}%20que%20eu%20encontrei%21%0Ahttps%3A%2F%2Felas-na-literatura.github.io{{ page.url | uri_escape }}" target="_blank"><img src="https://elas-na-literatura.github.io/rsc/whatsapp.svg" alt="WhatsApp" style="margin-top:-12px;"></a>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Olha essa poesia maravilhosa da {{ page.nomeautora }} que eu encontrei! " data-url="https://elas-na-literatura.github.io{{ page.url }}" data-hashtags="ElasNaLiteratura" data-lang="pt" data-show-count="false"><img src="https://elas-na-literatura.github.io/rsc/twitter.svg" alt="Twitter" style="margin-top:-12px;"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Felas-na-literatura.github.io{{ page.url | uri_escape }}&layout=button&size=small&width=110&height=20&appId" width="110" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </main>

    {%- include footer.html -%}

  </body>
